.col-md-5.mb-40
  .text-center
    %h3.general-subtitle Returning Customer
    = button_to '', user_github_omniauth_authorize_path, class: 'general-login-icon fa fa-github button_github'
    = button_to '',  user_facebook_omniauth_authorize_path, class: 'general-login-icon fa fa-facebook'
    = button_to '',  user_google_oauth2_omniauth_authorize_path, class: 'general-login-icon fa fa-google'
    %p.general-login-text or
  = simple_form_for(User.new, as: :user, url: user_session_path, wrapper: :default) do |form|
    .mb-40
      %p.mb-15 Log In with Password
      = form.input :email, label: t('.enter_email'), placeholder: t('.enter_email')
      = form.input :password, label: t('.password'), placeholder: t('.password')
      = link_to t('.forgot'), new_password_path(:user), class: 'help-block in-gold-500'
      = form.button :submit, t('.log_in'), class: 'btn btn-default mb-20 log_in', disabled: true
