.fillings-page
  .filling-menu.dark-theme.dark-block
    .pizza-menu
      .thumbnail.dark-theme.pizza-image
        .image
          %img{src: "https://i.postimg.cc/63Gn2tYs/9.png"}
        .buttons-set
          %h4 Pizza Dimension
          %select#dimension.dark-block.dark-theme
            - @pizza_dimensions.each do |dimension|
              %option{ value: dimension.id }= dimension.dimension

      .choose-fillings.dark-theme
        .fillings-block
          .border-block
            .fillings-title
              .ordinary-title#ordinary-button.active
                %h1 Fillings
              .additional-title#adding-button
                %h1 Additional Fillings
            .ordinary-fillings#ordinary
              - @fillings.each do |filling|
                .filling
                  .checkbox
                    %input{ type: 'checkbox', name: 'filling', class: 'custom_pizza', data: { filling_id: filling.id, authenticity_token: form_authenticity_token } }
                  .filling-name
                    %h4= filling.name
            .additional-fillings#adding.hidden
              - @additional_fillings.each do |filling|
                .addition-filling
                  .addition-checkbox
                    %input{ type: 'checkbox', name: 'filling', class: 'custom_pizza'}
                  .filling-name
                    %h4= filling.name
                  .price-additianal-filling
                    %h4= filling.price.format
            = link_to 'create pizza', '#' , id: 'create_pizza_button', class: 'btn btn-primary', data: { authenticity_token: form_authenticity_token }
    %br
    %br
    .footer-bar
      .button
        .back-to-cart
          = link_to 'Back to cart', cart_path, class: 'btn btn-primary'
      .subtotal-price
        %tr
          %td
            %strong.font-18 Total Price:
          %td
            -# %strong.font-18#total_price{ data: { price: @order_item.amount_pay, currency:  @order_item.amount_pay.currency.symbol  } }= @order_item.amount_pay.format
