%main.container
  %a.general-back-link{href: pizzas_path}
    %i.fa.fa-long-arrow-left.mr-15
    Back to results
  .row
    .col-sm-6
      .product-gallery
        .mb-20
          = image_tag( @pizza.first_image(:medium))
        .images.clearfix
          - @pizza.pizza_pictures.each do |image|
            %a.img-link
              = image_tag(image.image_url(:small), class: 'img-responsive')
    .col-sm-6
      %h1.mt-res-0 Real-Life Responsive Web Design
      %p.lead.small Vitaly Friedman, Daniel Mall,Vitaly Friedman
      .row
        = render 'pizzas/partials_show/add_to_cart', pizza: @pizza
      .general-info-wrap.divider-lg
        %p Description
        %p.lead.small.line-height-2
          - if description_length(@pizza)
            #short_description
              = description_short(@pizza)
              %a.in-gold-500.ml-10#read_more{href: "#"} Read more
            #full_description.hidden
              = description_full(@pizza)
          - else
            = description_full(@pizza)
      .general-info-wrap.divider-lg
        .clearfix
          %p.pull-left Filling
          %p.lead.small.pull-right= @pizza.filling_full_names
  - if user_signed_in?
    = render 'pizzas/partials_show/review_form'
  = render 'pizzas/partials_show/reviews'
