%h1.general-title-margin= t('.checkout')
%ul.steps.list-inline
  %li.step{ class: current_status(checkouts_delivery_path)}
    %span.step-number= t('.first_step')
    = link_to t('.delivery'), checkouts_delivery_path, class: 'step-text hidden-xs'
  %li.step-divider
  %li.step{ class: current_status(checkouts_address_path) }
    %span.step-number= t('.second_step')
    = link_to t('.address'), checkouts_address_path, class: 'step-text hidden-xs'
  %li.step-divider
  %li.step{ class: current_status(checkouts_payment_path) }
    %span.step-number= t('.third_step')
    = link_to t('.payment'), checkouts_payment_path, class: 'step-text hidden-xs'
  %li.step-divider
  %li.step{ class: current_status(checkouts_confirm_path)}
    %span.step-number= t('.fourth_step')
    = link_to t('.confirm'), checkouts_confirm_path, class: 'step-text hidden-xs'
  %li.step-divider
  %li.step{ class: current_status(checkouts_complete_path)}
    %span.step-number= t('.fifth_step')
    %span.step-text.hidden-xs= t('.complete')
