.carousel-inner{role: "listbox"}
  - @newest_pizzas.each_with_index do |pizza, index|
    .item{ class: "#{'active' if index.positive?}"}
      .row
        .col-sm-5
          .general-img-wrap
            = image_tag( pizza.first_image(:large))
        .col-sm-7
          .mb-60
            %h1
              = pizza.name
            %p.lead
              = pizza.description.truncate(PizzaDecorator::SHORT_DESCRIPTION)
            .general-align
              = button_to 'Buy now' , order_items_path(order_id: current_order.id, order_item: {pizza_id: pizza.id, quantity: OrderItems::ItemsUpdate::MINIMUM_PIZZAS_QUANTIY}), class: 'btn btn-primary'
