%main.container
  #slider.dark-block.dark-theme
    %a.control_next{:href => "#"} >>
    %a.control_prev{:href => "#"} <
    %ul
      - @newest_pizzas.each do |pizza|
        %li.pizzas-set
          .pizza-image
            = image_tag(pizza.first_image(:small))
          .pizza-name
            = pizza.name
          .pizza-price
            = pizza.price.format
.container
  .mb-35
    %h3
      = t('.best_sellers')
    = render 'homes/best_sellers'
