%main.container
  #slider
    %a.control_next{:href => "#"} >>
    %a.control_prev{:href => "#"} <
    %ul
      - @newest_pizzas.each do |pizza|
        %li.pizzas-set
          .pizza-image
            = image_tag(pizza.first_image(:small))
          .pizza-name
            = pizza.name
          .pizza-price
            = pizza.price.format


.container
  .get-started-block.text-center.dark-theme.dark-block
    %h2.h1
      = t('.welcome')
    .mb-res-50
      %p
        = t('.favorite')
    = link_to t('.started'), '#', class: 'btn btn-default'
  .mb-35
    %h3
      = t('.best_sellers')
    = render 'homes/best_sellers'
