%h1.general-title-margin= t('.settings')
%ul.nav.clearfix.mb-20{role: "tablist"}
  %li.tab-item{role: "presentation", class: "#{check_controller(params[:controller], 'addresses')}"}
    %a.tab-link{href: edit_address_path, 'aria-controls': "address" }= t('.address')
  %li.tab-item{role: "presentation", class: "#{check_controller(params[:controller], 'users/registrations')}"}
    %a.tab-link{href: edit_user_registration_path, 'aria-controls': "privacy" }= t('.privacy')
  %li.tab-item{role: "presentation", class: "#{check_controller(params[:controller], 'user_photos')}"}
    %a.tab-link{href: edit_user_photo_path, 'aria-controls': "privacy" }= t('.user_photo')
