.fillings-page
  .filling-menu.dark-theme.dark-block
    .footer-bar
      .button
        .back-to-cart
          = link_to 'Back to cart', cart_path, class: 'btn btn-primary'
    .pizza-menu
      .thumbnail.dark-theme.pizza-image
        .image
          %img{src: "https://i.postimg.cc/63Gn2tYs/9.png"}
        .buttons-set
          %h4 Pizza Dimension
          %select.dark-theme.dark-block#custom_pizza_dimension_edit{ data: { dimensions: @dimension_with_price, order_item_id: @order_item.id, authenticity_token: form_authenticity_token } ,  }
            - @pizza_dimensions.each do |dimension|
              %option{ selected: current_dimension(@order_item, dimension) }= dimension.dimension
        .subtotal-price
          %tr
            %td
              %strong.font-18 Total Price:
            %td
              %strong.font-18#total_price{ data: { price: @order_item.price.cents, currency:  @order_item.amount_pay.currency.symbol  } }= @order_item.amount_pay.format
      .choose-fillings.dark-theme
        .fillings-block
          .border-block
            .fillings-title
              .ordinary-title#ordinary-button.active
                %h1 Fillings
              .additional-title#adding-button
                %h1 Additional Fillings
            .ordinary-fillings#ordinary
              - @fillings.each do |filling|
                .addition-filling
                  .addition-checkbox
                    %input{ type: 'checkbox', checked: include_filling(@order_item.pizza, filling), class: 'complete', name: 'filling', id: 'filling', data: { filling_id: filling.id, price: filling.price.cents,
                     order_item_id: @order_item.id, authenticity_token: form_authenticity_token } }
                  .filling-name
                    %h4= filling.name
                  .price-additianal-filling
                    %h4= filling.price.format
            .additional-fillings#adding.hidden
              - @additional_fillings.each do |filling|
                .addition-filling
                  .addition-checkbox
                    %input{ type: 'checkbox', checked: include_filling(@order_item.pizza, filling), class: 'complete', name: 'filling', id: 'filling', data: { filling_id: filling.id, price: filling.price.cents,
                     order_item_id: @order_item.id, authenticity_token: form_authenticity_token } }
                  .filling-name
                    %h4= filling.name
                  .price-additianal-filling
                    %h4= filling.price.format
