%main.container.full_screen
  = render 'addresses/settings_header'
  .tab-content
    - if current_user.user_picture
      .user-picture
      = image_tag(current_user.user_picture.image_url(:thumbnail))
      = button_to 'Destroy Image', user_photo_path, method: :delete, class: 'btn btn-primary'
    = simple_form_for @picture, url: user_photo_path, method: :put do |f|
      .form-user-photo.mr-t-20
        = f.file_field :image, required: true, class: 'form-control'
      .button-user-photo-save.mr-t-20
        = f.submit 'Add picture' , class: 'btn btn-primary'
