.header
  %h1.header_logo= t('.welcome')
  .buttons-header
    .main-buttons
      = link_to t('.home'), home_path
      = link_to t('.menu'), pizzas_path
      = link_to t('.custom_pizza'), new_custom_pizza_path
      %a{ href: cart_path }
        %i.fas.fa.fa-shopping-basket
          = current_order.order_items.count
    .settings.dark-block.dark-theme.my_account#dropdown
      %a.my_account{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
        - if current_user.user_picture
          = image_tag(current_user.user_picture.image_url(:tiny), class: 'small-image')
        - else
          .user-picture.small-image
            = current_user.email[0].capitalize
        .settings-menu.hidden
          .setting-btn
            = link_to t('.cart'), cart_path
            = current_order.order_items.count
          .setting-btn
            = link_to t('.orders'), orders_path
          .setting-btn
            = link_to t('.settings'), edit_address_path
          .separator-dropdown-menu
            = button_to t('.log_out'), destroy_user_session_path, method: :delete, class: 'button_log_out'

.offset
