%header
  .conteiner
    .custom-header
      .pizzeria-logo
        %a{href: home_path}= t('.pizzeria')
      .buttons-set-header
        .buttons-header.pull-right
          %a.margin-4{href: home_path }= t('.home')
          %a.margin-4{href: '#'}= t('.menu')
          %a.margin-4{href: '#'}= t('.log_in')
          %a.margin-4{href: '#'}= t('.sign_up')
      %a.shop-link.pull-right.hidden-xs{href: "#"}
        %span.shop-icon
          %span.shop-quantity 0
