.header
  %h1.header_logo Welcome to amazing Pizzeria
  .buttons-header
    .main-buttons
      = link_to 'Home', home_path
      = link_to 'Menu', pizzas_path
    .settings.dark-block.dark-theme
      %a.my_account{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
        - if current_user.user_picture
          = image_tag(current_user.user_picture.image_url(:tiny))
        - else
          .user-picture
            = current_user.email[0].capitalize
        %ul.dropdown-menu
          %li
            = link_to 'Settings', edit_address_path
            = link_to 'Orders', orders_path
          %li.divider{role: "separator"}
            %li
              = button_to t('.log_out'), destroy_user_session_path, method: :delete, class: 'button_log_out'

.offset
